---
const res = await fetch('https://cms.dvdsikirevci.hr/api/posts')
const posts = await res.json()
import Layout from '../layouts/Layout.astro'
import NewsCard from '../components/sections/NewsCard.astro'
import H2 from '../components/typography/H2.astro'
import Paragraph from '../components/typography/Paragraph.astro'
import CTAButton from '../components/typography/CTAButton.astro'
---

<Layout>
    <div class="bg-zinc-100 p-12">
        <div class="border-b-2 border-b-red-700">
            <H2 text="Najnovije iz DVD Sikirevci" color="dark" align="left" />
        </div>
        <div class="grid grid-cols-1 gap-6 py-6 md:grid-cols-2 lg:grid-cols-3">
            {
                posts.docs
                    .slice(0, 9)
                    .map((post: any) => (
                        <NewsCard
                            title={post.title}
                            content={post.content.slice(0, 150) + '...'}
                            image={post.image.sizes.thumbnail.url}
                            createdAt={post.createdAt}
                        />
                    ))
            }
        </div>
    </div>
    <div class="bg-zinc-800 p-12">
        <div class="border-b-2 border-b-red-700">
            <H2 text="O DVD Sikirevci" color="light" align="left" />
            <Paragraph color="light">
                Na temeljima humanosti, solidarnosti i dragovoljnosti mještana sela Sikirevci te uz
                posebne zasluge učitelja gospodina Ljubomira Pleše, dana 08.rujna. 1928. godine
                osnovano je Dobrovoljno vatrogasno društvo Sikirevci. Nedugo nakon osnivanja članovi
                Dobrovoljnog vatrogasnog društva Sikirevci imaju i svoju prvu vatrogasnu požarnu
                intervenciju, točnije dana 11.rujna.1928. godine. Zapaljena je kamara slame kod
                Marijana Marković, ali su okolne zgrade spašene. Članovi društva iako neiskusni u
                požarnim okolnostima iskazali su veliku spremnost i volju u gašenju požara.
            </Paragraph>
            <CTAButton text="Pročitaj više" url="/o-nama" />
        </div>
    </div>
</Layout>
