---
import Layout from '../layouts/Layout.astro'
import H3 from '../components/typography/H3.astro'
import H2 from '../components/typography/H2.astro'
---

<Layout>
    <main>
        <section id="operativa" data-toc="0">
            <H2 text="Operativa" color="dark" />
            <article class="text-center">
                <H3 color="dark" text="Vozni park DVD-a Sikirevci" />

                <ul>
                    <li>Volkswagen Transporter 2019 8+1</li>
                    <li>Mercedes-Benz 508D malo navalno vozilo</li>
                    <li>Steyr veliki kamion</li>
                </ul>
                <H3 color="dark" text="Broj operativaca: 25" />
                <section>
                    <H2 text="Povijest DVD-a Sikirevci" color="dark" />
                    <article id="povijest-2007" data-toc="2">
                        <H3
                            color="dark"
                            text="IZ POVIJESTI DOBROVOLJNOG VATROGASNOG DRUŠTVA SIKIREVCI 1928 - 2007"
                        />

                        <p>
                            Na temeljima humanosti, solidarnosti i dragovoljnosti mještana sela
                            Sikirevci te uz posebne zasluge učitelja gospodina Ljubomira Pleše, dana
                            08.rujna. 1928. godine osnovano je Dobrovoljno vatrogasno društvo
                            Sikirevci. Nedugo nakon osnivanja članovi Dobrovoljnog vatrogasnog
                            društva Sikirevci imaju i svoju prvu vatrogasnu požarnu intervenciju,
                            točnije dana 11.rujna.1928. godine. Zapaljena je kamara slame kod
                            Marijana Marković, ali su okolne zgrade spašene. Članovi društva iako
                            neiskusni u požarnim okolnostima iskazali su veliku spremnost i volju u
                            gašenju požara.
                            <img
                                src="/images/clanovi-1929.jpg"
                                alt="Članovi DVD-a Sikirevci 1929."
                            />
                            <img
                                src="/images/clanovi-1929-2.jpg"
                                alt="Članovi DVD-a Sikirevci 1929."
                            />
                            06. prosinca. 1928. godine održana je velika Sveta misa na kojoj su učestvovali
                            svi članovi društva. Nakon misnog slavlja mještani sela Sikirevci te članovi
                            društva uputili su se u procesiji do vatrogasnog doma gdje je obaljen obred
                            posvete vatrogasnog doma. Obred posvete vatrogasnog doma obavio je prečasni
                            Nikola Kovačević župnik u Sikirevcima. 1928. godine kupljena je prva vatrogasna
                            štrcaljka – zaprežna kola, te su 27. studenog.1928.godine izrađena nova kola
                            za bure s vodom zapremine 800 litara. Kola je izradio kolar Franjo Franc
                            iz Sikirevaca.
                            <img
                                src="/images/vatrogasna-strcaljka-dvda-sikirevci.jpg"
                                alt="Vatrogasna štrcaljka DVD-a Sikirevci"
                            />
                            1929. godine Dobrovoljno vatrogasno društvo Sikirevci kupilo je zgradu za
                            Vatrogasni dom od Gospodarskog društva Osijek.
                            <img
                                src="/images/clanovi-dvd-sikirevci-1950.jpg"
                                alt="Članovi društva 1950.g."
                            />
                            Uz redovite vatrogasne vježbe i aktivnosti društvo je 10. veljače.1929. godine
                            održalo prvu Vatrogasnu zabavu u vatrogasnom domu.
                            <img
                                src="/images/vatrogasna-pokazna-vjezba-1929.gif"
                                alt="Vatrogasna pokazna vježba 1929. godine"
                            />
                            Tokom slijedećih godina društvo je organiziralo mnoštvo zabava, tako su održavane
                            zabave na blagdan sv.Nikole, Silvestrovo, drugi dan Uskrsa, drugi dan Božića,
                            poklade, itd. 04. svibnja.1933. godine na proslavi dana sv. Florijana prvi
                            puta su pucali mužari – topovi iz crkve. 18. ožujka. 1934. godine osniva
                            se tamburaška sekcija Dobrovoljnog vatrogasnog društva u Sikirevcima. Tambure
                            za taburašku sekciju kupljene su u Slavonskom Šamcu. Valja napomenuti da
                            se svake nedjelje održavalo kolo u prostorijama vatrogasnog doma. 1938. GODINA
                            - DOBROVOLJNO VATROGASNO DRUŠTVO – 10- ta OBLJETNICA RADA I DJELOVANJA DRUŠTVA
                            Na sjednici upravnog odbora Dobrovoljnog vatrogasnog društva Sikirevci 08.
                            siječnja. 1938. godine predjsednik Mato Prakaturović predlaže odboru da se
                            održi proslava 10 godišnjice društva te da se nabavi vatrogasna zastava.
                            23. listopada. 1938. godine održana je proslava 10-te godišnjice osnutka
                            društva te posveta nove vatrogasne zastave. Zastavi je kumovala osobno Elizabeta
                            Živić iz Lukavca (BiH),a posvetio ju je prečasni Nikola Kovačević, župnik
                            iz Sikirevaca. Zastava je rađena kod časnih sestara sv. Križa u Zagrebu.
                            U koplje na zastavi zabijen je 51 zlatni čavao, te 20 srebrenih čavala koji
                            su označavali donatore za zastavu.
                            <img
                                src="/images/svecana-zastava.gif"
                                alt="Svečana zastava izrađena za 10-tu obljetnicu osnutka društva"
                            />
                            <img
                                src="/images/svecana-zastava-2.gif"
                                alt="Svečana zastava izrađena za 10-tu obljetnicu osnutka društva"
                            />
                            Zahvaljujući preminulom zastavničaru Ivi Bašlinović zastava je očuvana i
                            dan danas te se trenutno nalazi u župnom muzeju u Sikirevcima. 1943. godine
                            svi članovi Dobrovoljnog vatrogasnog društva Sikirevci su u vojsci za vrijeme
                            Drugog svjetskog rata te društvo te godine nije djelovalo jer nije imalo
                            članova. 10. srpanj. 1946. godine počinju radovi na dograđenju drvenog tornja
                            na vatrogasni dom. 19. srpanj. 1947. Uz pomoć mještana sela Sikirevci i Mljekarske
                            zadruge skupljeni su dobrovoljni prilozi za kupovinu motorne štrcaljke te
                            je ista kupljena u Slavonskom Brodu. 25. siječanj. 1955. godine uvedena električna
                            rasvjeta u sve prostorije u Vatrogasnom domu. 17. ožujak. 1955. godine postavljena
                            električna sirena na Vatrogasni dom, tj. na vatrogasni toranj, ali nije instalirana
                            jer je potreban trofazi vod struje. Ista je proradila 1958. godine. 25. lipanj.
                            1958. godine kupljena nova motorna šprica iz Zagreba. Najveće napore za nabavljanje
                            motorne šprice uložio je tadašnji zapovjednik Petar Prakaturović. 10. veljača.
                            1971. godine kupljena vatrogasna cisterna iz Bosanskog Šamca. 02. svibanj.
                            1976. godine osnovan Vatrogasni pionirski odred – pristupilo 35 mladih članova.
                            18. rujan. 1978. godine održana je proslava 50. godišnjice Dobrovoljnog vatrogasnog
                            društva Sikirevci – to je prva proslava obljetnice nakon 1938. godine. Svečana
                            skupština održala se u školi, a završna proslava u hangaru Poljoprivredne
                            zadruge. Na proslavi je svirala limena glazba ''Željezničar'' iz Slavonskog
                            Broda. Članice KUD-a Sloga iz Sikirevaca su uredile svečanu tribinu za proslavu.
                            Na proslavi je uručena nova vatrogasna zastava društvu koju poklanja VZO
                            Slavonski Brod.
                            <img
                                src="/images/zastava-za-50tu-obljetnicu-dvd-sikirevci.jpg"
                                alt="Svečana zastava izrađena za 50-tu obljetnicu osnutka društva"
                            />
                            11. rujan. 1988. godine održana je proslava 60. godišnjice Dobrovoljnog vatrogasnog
                            društva Sikirevci. Kod mjesnog ureda održana je pokazna javna vježba sa pet
                            vozila. Na proslavi je svirala limena glazba ''Željezničar'' iz Slavonskog
                            Broda. Društvu je uručeno dodijeljeno vatrogasno vozilo TAM 4500 proizvedeno
                            1963. godine.
                            <img
                                src="/images/tam-4500.jpg"
                                alt="Kamion DVD-a Sikirevci TAM 4500  ( 1988.-2010.)"
                            />
                            07. listopad. 1991. Izbor ratnog predsjedništva Dobrovoljnog vatrogasnog
                            društva Sikirevci te je tom prilikom formirana vatrogasna jedinica koja će
                            djelovati u ratnim uvjetima. Dvadeset članova vatrogasnog društva pristupa
                            postrojbama Zbora narodne garde, Policije i domobranstva na ratištima diljem
                            Republike Hrvatske. Provodila su se dežurstva i pojačana pripravnost rada
                            i djelovanja članova društva koji nisu bili u sastavu ZNG i policije. Godine
                            1992. društvo je imalo intervenciju u selu Kruševica gdje su gasili zapaljeni
                            štagalj uslijed pada granate, također su imali intervenciju na PP Jasinje
                            nakon avionskog raketiranja. Vatrogasci su radili i na humanitarnom zadatku
                            zbrinjavanja izbjeglica iz BiH i prognanika iz istočne Slavonije. U vrijeme
                            Domovinskog rata vatrogasni dom dan je na korištenje Hrvatskoj vojsci za
                            smještaj. 1994. godine društvo je na poklon dobilo kip Sv. Florijana od obitelji
                            Vuković iz Sikirevaca.
                            <img src="/images/kip-sv-florijana.jpg" alt="Kip Svetog Florijana" />
                            30. lipanj. 1996. godine u Sikirevcima je održan Slet vatrogasne mladeži
                            povodom obilježavanja 20 godina postojanja i rada vatrogasne mladeži u DVD-u
                            Sikirevci. 07. lipanj. 1997. Utemeljenje Općine Sikirevci – članovi Dobrovoljnog
                            vatrogasnog društva Sikirevci sudjelovali su u organizaciji i održavanju
                            reda i mira prilikom manifestacije na kojoj je održan koncert velikih estradnih
                            zvijezda.
                            <img
                                src="/images/70ta-obljetnica-DVD-Sikirevci.jpg"
                                alt="Proslava 70-e obljetnice rada i postojanja Dobrovoljnog vatrogasnog društva Sikirevci"
                            />
                            13. rujan. 1998. godine održana je proslava 70. godišnjice Dobrovoljnog vatrogasnog
                            društva Sikirevci. Svečana sjednica održana je u Osnovnoj školi Sikirevci,
                            a slavlje u Vuković centru. Za ovu prigodu gospođa Katarina Rakitić iz Sesveta
                            osmislila je i svojom rukom izvezla novu zastavu za društvo te je ista bila
                            i kuma zastave. Na proslavi je sudjelovala limena glazba iz Đakova kao i
                            mažoretkinje. 22. lipanj. 2003. godine sudjelujemo kao jedini predstavnici
                            Brodsko-posavske županije na kupu Gjuro Deželić u Ivanić gradu. Na natjecanju
                            sudjelovale 52 ekipe iz Republike Hrvatske, Dobrovoljno vatrogasno društvo
                            Sikirevci nastupilo je s ekipom Seniori B u sastavu : Mato Čivić, Martin
                            Živić (A), Mato Vukovac, Đuro Galović, Mato Nikolić- boriša, Josip Brodar,
                            Mato Nikolić – baćin, Antun Galović i Ivica Rakitić. Članovi DVD-a Sikirevci
                            tom prilikom dobili su srebrene medalje. 27. rujan. 2003. godine Dobrovoljno
                            vatrogasno društvo Sikirevci organizira Županijsko natjecanje za seniore
                            na kojem i sami sudjelujemo s ekipom Seniora B. Na županijskom natjecanju
                            osvajamo drugo mjesto te time osiguravamo plasman na državno natjecanje u
                            Osijeku slijedeće godine. 05. lipanj. 2004. godine nastupamo s ekipom Seniora
                            ''B'' na Državnom natjecanju koje je održano u Osijeku. 2005. godine odlazimo
                            po prvi puta u Vatrogasni kamp Fažana s ekipom mladeži. 1. srpanj. 2007.godine
                            Dobrovoljno vatrogasno društvo Sikirevci organizira Županijsko vatrogasno
                            natjecanje za djecu i mladež na kojem sudjeluje 36 ekipa iz Brodsko-posavske
                            županije. 14. listopad. 2007. godine organizirano prvo Natjecanje i druženje
                            djece koje se održava u Sikirevcima. Na blagdan Tijelova sudjelujemo prvi
                            puta na procesiji noseći ''nebo''. Od tada svake godine članovi društva sudjeluju
                            u procesiji.
                            <img
                                src="/images/Procesija na blagdan Tijelova.jpg"
                                alt="Procesija na blagdan Tijelova – DVD Sikirevci"
                            />
                        </p>
                    </article>
                    <article id="povijest-2018" data-toc="3">
                        <H3
                            color="dark"
                            text="RAD I AKTIVNOSTI DOBROVOLJNOG VATROGASNOG DRUŠTVA SIKIREVCI U RAZDOBLJU 2008- 2018.g."
                        />

                        <p>
                            31. kolovoz. 2008. godine održana je proslava 80. godišnjice
                            Dobrovoljnog vatrogasnog društva Sikirevci. Svečana sjednica održana je
                            u Osnovnoj školi Sikirevci, a slavlje u Vuković centru. Pokaznu vježbu
                            na proslavi izvodili su DVD Babina Greda, DVD Velika Kopanica i DVD
                            Slavonski Šamac. Ovom prigodom kuma vatrogasnoj zastavi bila je gospođa
                            Katarina Rakitić iz Sesveta.
                            <img
                                src="/images/80ta-godisnjica-DVD-Sikirevci.png"
                                alt="80-godina-postojanja-DVD-Sikirevci"
                            />
                            2008. godine u suradnji s Vatrogasnom zajednicom općine Sikirevci provodimo
                            osposobljavanje vatrogasnih kadrova. VZO Sikirevci je 2008. godine ishodovala
                            odobrenje za osposobljavanje vatrogasnih kadrova za zvanje vatrogasac tako
                            da smo na ovom dijelu Županije u to vrijeme bili jedini koji su imali takvo
                            odobrenje. 10. kolovoz. 2008. godine DVD Sikirevci povodom 60-e obljetnice
                            rada i postojanja Nogometnog kluba Sikirevci izvodi pokaznu mokru vježbu
                            s navalnog vozila. 29. ožujak. 2009. godine održani ispiti za zvanje Vatrogasni
                            časnik u Velikoj Kopanici – tom prigodom DVD Sikirevci je dobio prve vatrogasne
                            časnike u povijesti društva ,a to su : Martin Živić (A), Tomislav Knezović,
                            Antun Galović, Ivica Nikolić i Josip Brodar. Iste godine dogovoreno da novi
                            vatrogasni časnici nose Tijelovsku procesiju ''nebo'' ali ono nije održano
                            radi lošeg vremena. 12. lipanj. 2010. godine u 13,30 sati ispred vatrogasnog
                            doma dočekana su vatrogasna vozila : kamion STAYER i kombi MERCEDES koja
                            su kupljena sredstvima za redovnu djelatnost društva.
                            <img
                                src="/images/vatrogasno-vozilo-DVD-Sikirevci.jpg"
                                alt="Vatrogasno vozilo DVD-a Sikirevci"
                            />
                            29. kolovoz. 2010. godine na Druženju i natjecanju djece po prvi puta izvedena
                            je vježba gašenja zapaljive tekućine pomoću pjene iz brentače. 2012. godina
                            - posjet Osnovnoj školi Sikirevci i edukacija učenika o vatrogasnoj djelatnosti.
                            Ova aktivnost provodi se svake godine u suradnji s ostalim žurnim službama.
                            16. - 24. svibanj.2014. godine zbog velikog vodostaja rijeke Bosne i rijeke
                            Save svi članovi DVD-a Sikirevci bili su angažirani na izgradnji zečjih nasipa,
                            punjenju vreća pijeskom, osiguranju i osvjetljavanju prostora tijekom izgradnje
                            nasipa uz rijeku Savu u Slavonskom Šamcu. Također vršimo zajedničke ophodnje
                            i dežurstvo u općini Sikirevci te ispumpavanje vode i svih ostalih aktivnosti
                            koje su bile potrebne na području općine Sikirevci i općine Slavonski Šamac.
                            Dobrovoljno vatrogasno društvo Sikirevci pomoglo je u ispumpavanju vode s
                            poplavljenog područja sela Posavski Podgajci.
                            <img
                                src="/images/ispumpavanje-vode-Posavski-Podgajci.jpg"
                                alt="DVD Sikirevci pomaže u ispumpavanju vode sa poplavljenog područja"
                            />
                            IZGRADNJA NOVOG VATROGASNOG DOMA 22. ožujak. 2016. godine pripremljeni potrebni
                            papiri za prijavu projekta izgradnje novog vatrogasnog doma. 20. lipanj.
                            2016. godine započelo rušenje starog vatrogasnog doma, te je oprema izmještena
                            na privremenu lokaciju u ''doktorov'' stan.
                            <img
                                src="/images/izgradnja-novog-doma-DVD-Sikirevci.jpg"
                                alt="Izgradnja novog vatrogasnog doma u Sikirevcima"
                            />
                            21. rujan. 2016. godine započela prva faza izgradnje vatrogasnog doma koja
                            obuhvaća zidanje vanjskih zidova i pokrivanje krova. Prva faza izgradnje
                            završila je 6. studenog. 2016. godine. 20. prosinac. 2017. godine postavljena
                            vanjska stolarija, garažna vrata te je uvedena struja u novi dom. U ožujku
                            2018. godine predani papiri za prijavu druge faze izgradnje vatrogasnog doma
                            putem Ministarstva regionalnog razvoja i fondova Europske unije. Druga faza
                            izgradnje vatrogasnog doma financirana je od strane Općine Sikirevci te Ministarstva
                            regionalnog razvoja i fondova Europske unije. DRŽAVNO NATJECANJE VATROGASACA
                            – PULA 2016. 01.listopad. 2016. godine Državno natjecanje vatrogasaca u Puli.
                            DVD Sikirevci sudjeluje na državnom natjecanju s dvije ekipe ,a to su Seniori
                            ''A'' i Seniori ''B''. Ovo je veliki uspjeh za naše društvo jer smo se na
                            državno natjecanje uputili s 22 člana, a također smo imali dovoljan broj
                            raspoloživih operativnih članova kod kuće u slučaju intervencije. Također
                            smo na državnom natjecanju bili jedino društvo iz županije koje je nastupilo
                            s dvije ekipe operativnih članova – seniora. 17. i 18. lipanj. 2017.godine
                            sudjelujemo na svečanosti obilježavanja obljetnice i useljenja u novi vatrogasni
                            dom kod prijateljskog društva u Austriji u mjestu Strass. Tom prilikom imali
                            smo čast pred nekoliko tisuća ljudi izvesti pokaznu vježbu. Pokazna vježba
                            sastojala se od izvedbe zastave Republike Hrvatske i Republike Austrije.
                            VATROGASNI KAMP FAŽANA – 2016. – 2017.g. Rujan 2016. / 2017. Ekipa seniora
                            A ljetuje u Vatrogasnom kampu Fažana. 2017. godine obilježili smo 10-tu godišnjicu
                            stradavanja vatrogasaca na Kornatima paljenjem 12 svijeća kod spomenika Sikirevačkim
                            braniteljima. Akcija pod nazivom Srce kornatsko.
                            <img
                                src="/images/srce-kornatsko.jpg"
                                alt="Članovi Dobrovoljnog vatrogasnog društva Sikirevci – Srce Kornatsko"
                            />
                        </p>
                        <article id="povijest-aktualno" data-toc="4">
                            <H3
                                color="dark"
                                text="OSTALE AKTIVNOSTI DOBROVOLJNOG VATROGASNOG DRUŠTVA SIKIREVCI TOKOM POSLJEDNJIH 10 GODINA RADA DRUŠTVA"
                            />
                            <p>
                                - svake godine redovito sudjelujemo na Tijelovskoj procesiji, Misi
                                zahvalnici i dežurstvu kod Isusovog groba na Veliku Subotu -
                                vatrogasno hodočašće u Dragotin i Šumanovce - posjet Vukovaru gradu
                                heroju, odavanje počasti poginulim hrvatskim braniteljima i
                                stradalnicima u Domovinskom ratu SUDJELOVANJE NA VATROGASNIM
                                NATJECANJIMA DILJEM REPUBLIKE HRVATSKE - Sa ekipama djeca ženska,
                                djeca muška, mladež ženska , mladež muška , seniori „A“ i seniori
                                „B“ sudjelujemo na vatrogasnim natjecanjima u slijedećim mjestima :
                                Sikirevci , Velika Kopanica, Beravci, Babina Greda, Stari Perkovci,
                                Novi Perkovci, Vrbje, Komletinci, Garčin, Vrbova, Nova Gradiška,
                                Zaprešić, Staro Čiče, Desno Trebarjevo, Ivanić Grad, Harkanovci,
                                Pula, Đakovo. Pohađamo brojna natjecanja diljem Brodsko-posavske i
                                Osječko-baranjske županije Zimske kupove s obje ekipe Seniora A i B.
                                - U suradnji sa DUZS i ostalim žurnim službama vršino edukaciju
                                djece u OŠ Sikirevci te sa članovima DVD Jaruge vršimo edukaciju
                                djece u područnoj školi Jaruge. - Sudjelujemo u svim aktivnostima i
                                manifestacijama koje se organiziraju i održavaju u našoj općini, kao
                                što su : Natjecanje u kuhanju čobanca i fiša, osiguranje pokladnog
                                jahanja i susreta naroda i kultura, advent u Sikirevcima i
                                Jarugama,dani kruha u OŠ Sikirevci , malonogometni turnir, itd.
                                2017. godine u Organizaciji Općine Sikirevci sudjelovali smo na
                                adventima u Sikirevcima i Jarugama te tim prigodama dočarali snježni
                                ugođaj praveći umjetni snijeg pomoću pjenila.
                                <img
                                    src="/images/sikirevci-advent.jpg"
                                    alt="Advent Sikirevci 2017.g."
                                />
                                04.srpanj.2017. godine ekipa Seniora 'A' nastupa na malonogometnom turniru
                                u Sikirevcima. INTERVENCIJE, POKAZNE VJEŽBE , EDUKACIJE ČLANOVA DVD-a
                                SIKIREVCI Tokom proteklih godina DVD Sikirevci dokazivao se svojom hrabrošću
                                i požrtvovnošću na požarnm intervencijama, tehničkim intervencijama,
                                pokaznim vježbama i drugim oblicima rada društva. Neke od tih akcija
                                prikazane su dolje u slikama. 2018. godine članovi DVD-a Sikirevci sudjelovali
                                su u akciji osposobljavanja operativnih članova društva za motornu pilu,
                                trimer i motornu kosilicu. Sukladno mogućnostima tokom 2018. godine društvo
                                će sudjelovati na ostalim edukacijama operativnih i drugih članova društva.
                                Tijekom godine sudjelujemo na svim potrebitim osposobljavanjima vezanima
                                za vatrogasnu djelatnost. Dobrovoljno vatrogasno društvo Sikirevci ukupno
                                broji 90 članova što djece i mladeži. Tokom godina rada društvo je ostvarilo
                                zavidne rezultate na svim povjerenim zadacima, intervencijama , natjecanjima
                                i ostalim događanjima. Posebno treba napomenuti dobru suradnju s ostalim
                                udrugama i organizacijama u Općini Sikirevci te se takvoj suradnji radujemo
                                i u budućem radu. Ovim putem želimo se zahvaliti svim sponzorima koji
                                su pridonijeli izradi ovog biltena povodom 90.godina rada i postojanja
                                Dobrovoljnog vatrogasnog društva. Također želimo zahvaliti i svima koji
                                su pridonijeli obilježavanju same obljetnice osnutka društva.
                            </p>
                            <section id="seniori" data-toc="5">
                                <H2 text="Seniori" color="dark" />
                                <p>
                                    Seniorsko odjeljenje natjecatelja sastoji se od ženskih i muških
                                    ekipa. U "A selekciju" pripadaju članovi koji imaju između 16 i
                                    30 godina, a u "B selekciju" oni članovi koji su stariji od 30
                                    godina. Sudjeluju na velikom broju natjecanja po cijeloj državi,
                                    uključujući županijska i državna natjecanja. Ekipe se najčešće
                                    sastoje od operativnih članova koji ove vježbe ujedno koriste
                                    kao i pripreme za moguće intervencije.
                                </p>
                            </section>
                            <section id="podmladak" data-toc="6">
                                <H2 text="Podmladak" color="dark" />

                                <article>
                                    <H3 color="dark" text="Djeca" />

                                    <p>
                                        Odjeljenje djece u DVD-u Sikirevci okuplja najmlađe članove
                                        u dobi od 6 do 12 godina života. Zahvaljujući rednovnim
                                        treninzima i odlascima na natjecanja po okolnim mjestima,
                                        djeca su najtrofejnije odjeljenje unutar DVD-a. Odjeljenje
                                        broji više od 30 članova.
                                    </p>
                                    <p>
                                        Mladež Mladež DVD-a Sikirevci okuplja članove DVD-a
                                        Sikirevci od 12 do 16 godina žviota. Svojim napornim radom i
                                        treninzima predstavljaju naše društvo po cijeloj Slavoniji,
                                        ali i šire! Odjeljenje broji više od 30 članova.
                                    </p>
                                    <p>VATRU GASI, BRATA SPASI!</p>
                                </article>
                            </section>
                        </article>
                    </article>
                </section>
            </article>
        </section>
    </main>
</Layout>

<style>
    p,
    li {
        font-size: 20px;
    }
    img {
        margin: auto;
        padding-block: 24px;
    }
</style>
