---
const res = await fetch('https://cms.dvdsikirevci.hr/api/posts?where[type][equals]=VZO&limit=10000')
const posts = await res.json()
import Layout from '../layouts/Layout.astro'
import NewsCard from '../components/sections/NewsCard.astro'
import H2 from '../components/typography/H2.astro'
---

<Layout title="VZO">
	<div class="bg-zinc-100 p-12">
		<div class="border-b-2 border-b-red-700">
			<H2 text="Najnovije iz VZO Sikirevci" color="dark" align="left" />
		</div>
		<div class="grid grid-cols-1 gap-6 py-6 md:grid-cols-2 lg:grid-cols-3">
			{
				posts.docs
					.slice(0, 9)
					.map((post: any) => (
						<NewsCard
							title={post.title}
							content={post.content.slice(0, 150) + '...'}
							image={post.image.sizes.thumbnail.url}
							createdAt={post.createdAt}
						/>
					))
			}
		</div>
	</div>
</Layout>
